@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
  font-family: 'Open Sans',sans-serif;
}
 .teste{
  background-color: gray;
  
 }

body{
    background-color: white
}
.img    {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
    
}

.dados{
  text-align: center;
 border: 100px solid rebeccapurple;
  

}
input{
 
  outline: none;
  width: 340px;
border-style: groove;
}

  .wel{
    text-align: center;
    padding-top: -50px;

    font-size: larger;
   
  }
 button:hover{
  background-color: wheat;
 }
 
 label{
  font-size: medium;
  padding-right: 300px;
 }
 section{
  margin-top: 140px;
  text-align: left;
  text-transform: uppercase;
 }
 .tel {
  margin-top: 10px;
  color: red;
 }
 a{
  color: blue;
 }
 a:hover{
  color: red;
 }
button{
  width: 120px;
}