@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
 .teste{
  background-color: gray;
  
 }

body{


}
.img    {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
 
    
}

.dados{
  text-align: center;
  

}
input{
 
  outline: none;
  width: 340px;
border-style: groove;
}

  .wel{

    text-align: center;
    padding-top: -50px;

    font-size: larger;
   
  }
 button:hover{
 opacity: 0.7;
 }
 
 label{
  font-size: medium;
  padding-right: 300px;
 }
 section{
  margin-top: 140px;
  text-align: left;
  text-transform: uppercase;
 }
 .tel{  
 
  font-size: larger;
  text-align: center;
  color: red;
 }
 h3{
  margin-top:176px;
  text-align: center;
 }
 a{
  font-size: medium;
  color: blue;
 }
 a:hover{
  color: red;
 }
button{
 margin-top: 10px;
 margin-bottom: 10px;
  width:120px ;
}
.pp{
  font-size: medium;
  display: inline;
}
