@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: gray;
}
.titulo{
    text-align: center;
    margin: 100px;
}

.dadinho{
    text-align: center;
}
input{
    outline: none;
    width: 340px;
  border-style: groove;

}
label{
    font-size: medium;
    padding-right: 300px;
}
button{
    margin-top: 10px;
    width: 120px;
    margin-bottom: 10px;
}
.dif{
    padding-left: 137px;
}
button:hover{
    background-color: wheat;
}